/*logo */

.logo .bold {
    font-weight: 600;
    margin-left: 3px;
}

.logo {
    font-size: 40px;
    font-weight: 100;
}

span.rotator.morphext {
    width: 36px;
    display: inline-block;
    margin-right: -10px;
    text-align: center;
}
.grey {
    color: grey;
}