$font: 'Roboto', sans-serif;
$lightGray: #eee;

html, body {
    /*** give this to all tags from html to .fullscreen ***/
    height:100%;
    font-family: $font;
}

/*** background colors ***/

.red{
  background: #c0392b;
  color: #fff;
  &:hover{
    color: #fff;

  }
}
.white{
  background: #fff;
  color: #222;
  &:hover{
    color: #222;
  }
}
.black{
  background: black;
  color: #eee;
  &:hover{
    color: #fff;
  }
}
/*** end background colors ***/


/*buttons*/
.btn {

  transition: all 0.4s;
  border-radius: 0;
  padding: 10px 50px;
  font-size: 16px;

  &.radius{
    border-radius: 4px;
  }
  &.border{
    border: solid 1px #222;
  }
  &.hover-shadow{
    &:hover{
      box-shadow: 0 0 4px #222;
    }
  }

}



// effect

.effe1{
    transition: all 0.4s;
    content: "";

    background: rgb(192,57,43);
    background: -moz-linear-gradient(-45deg, rgba(192,57,43,1) 0%, rgba(192,57,43,1) 50%, rgba(212,85,72,1) 51%, rgba(212,85,72,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(212,85,72,1) 100%);
    background: linear-gradient(135deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(212,85,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#d45548',GradientType=1 );
   
    opacity: 1;
    background-size: 200%;

   &:hover{
    opacity: 1;
    background-size: 100%;
     //  background: #D45548;
  }
}

/*** end buttons ***/


.navbar{
  margin-bottom: 0;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
    display: table;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

$space: space !default
$step : 20;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$space}-#{$g}
  {
      width: 100%;
      height:  #{$g}px;
      display: inline-block;
  }
}


/*** content centering styles ***/
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
.fullscreen .content {
    width: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*endregion*/


/* padding */
$class-slug: padding !default
$step : 10;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$class-slug}-#{$g}
  {
      padding: #{$g}px;
  }

}


.no_padding{
    padding: 0;
}


/*** padding from 10 to 100 ***/
$paddingtop: padding-top !default
$step : 10;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$paddingtop}-#{$g}
  {
      padding-top: #{$g}px;
  }
}

/*** end padding from 10 to 100 ***/

// padding-btm
$paddingbtm: padding-btm !default
$step : 10;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$paddingbtm}-#{$g}
  {
      padding-bottom: #{$g}px;
  }
}

// padding-btm
$padding-left: padding-left !default
$step : 10;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$padding-left}-#{$g}
  {
      padding-left: #{$g}px;
  }
}

/* margin-top */
$margin-top: margin-top !default
$step : 10;
$g : 0;
@for $i from 1 through 10 {
  $g : $i * $step;
  .#{$margin-top}-#{$g}
  {
      margin-top: #{$g}px;
  }
}

.no_margin{
    margin: 0;
}
.no_top_margin{
margin-top: 0;
}
.no_bottom_margin{
margin-bottom: 0;
}
.no_left_margin{
margin-left: 0;
}
.no_right_margin{
margin-right: 0;
}
.no_btm_padding{
padding-bottom: 0;
}

// .grid-sm-gutter + .grid-sm-gutter {
//     padding: 3px !important;
//     margin: 0px !important;
// }

.grid-sm-gutter {
  [class*="col-"] {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-bottom: 6px;
  }
}

/*endregion*/
/*region colors*/
.bg-grey{
    background: #eee;
}
.bg-black{
    background: #000;
}
.color_white{
    color: #fff!important;
}
.color_orangered{
    color: orangered!important;
}
.color_black{
    color: #222!important;
}
/*endregion*/

.bordered{
    border: solid 1px #eee;
}

/*region bypass bootstarp*/
/*bypass bootstrap*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
}


.btn.btn-one {
    color: #FFF;
    background: #FF005F;
    border-radius: 0;
}
.btn-small{
    width: 20%;
}
.btn-large{
    width: 30%;
}
.btn-xlarge{
    width: 40%;
}
/*endregion*/




/*Boxes*/
.zigZag{
   width: 100%;
  height: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQYV42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+CgiQkAMbAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.zigZag-sm {
    width: 160px;
    height: 8px;
   @extend .zigZag;
}

/* end boxes */


/*region navbar*/

button.navbar-toggle .icon-bar {
    background: #222;
    margin-top: 10px;
}
.navbar.center .nav,
.navbar.center .nav > li {
    float:none;
    display:inline-block;

    vertical-align: top;
    text-align: center;
 }
.navbar-inner {
    text-align:center;
}

/*region navbar style 1*/
.navbar-style-1 {
    border-bottom: dotted  1px #ddd;
    -webkit-transition: all 0.3s;
}

.navbar-style-1 ul > li > a {
    padding: 30px;
    color: #000;
    margin: 0px;
    font-weight: bold;
}

.navbar-style-1 ul > li > ul li a {
    padding: 8px 21px;
    font-weight: 100;
}


.navbar-style-1 ul > li {
  ul{
    background: rgb(238, 238, 238);
    // background: rgba(255,255,255,0.8);
  }
}

li.dropdown:hover > a {
    background: rgb(238, 238, 238);
}

.dropdown:hover ul {
    display: inline-block;
    border: none;
}
.WhiteHeader {
    background: #fff;
    opacity: 0.8;
    -webkit-transition: all 0.3s;
}
.WhiteHeader:hover{
    opacity: 1;
}
.WhiteHeader a{
    color: #222!important;
}
/*borders*/

/*end borders*/

/*region icons */

.cycle {
    border-radius: 50%;
}

.border-icon {
    border: solid 1px #eee;
    width: 86px;
    height: 85px;
    padding: 20px;
    margin-left: auto;
    margin-right: AUTO;
    position: relative;

}

.lightgray-bg-icon:before {
    @extend .cycle;
    -webkit-transition: all 0.3s;
    content: "";
    background: $lightGray;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 85px;
    height: 85px;
    top: 0;
    -webkit-transform: scale(0.80);
}
.lightgray-bg-icon:hover:before {
    -webkit-transform: scale(1.1);
}
/*endregion*/

/*region text formaters*/
.strong{
    font-weight: 800;
}
.large {
    font-size: 60px;
    font-weight: 800;
}
.xlarge {
    font-size: 80px;
    font-weight: 800;
}

.text-shadow {
    text-shadow: 1px 1px 4px #222;
}

/*endregion*/

/*region section*/
section{
    // margin-bottom: 80px;
}

/*endregion*/

/*region isotope*/

.isotope {
    background: #DDD;
    max-width: 1200px;
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .item ---- */

/*.item {*/
    /*float: left;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #0D8;*/
    /*border: 2px solid #333;*/
    /*border-color: hsla(0, 0%, 0%, 0.7);*/
/*}*/
/*.item.width3 { width: auto; }*/
/*.item.width2 { width: auto; }*/
/*.item.height2 { height: auto; }*/

/*endregion*/


/*carouse*/

.carousel-inner .item {
    overflow: hidden;
 }
.carousel-caption {
    top: 260px;
}
/*end carousel*/


/*dividers*/
.hr-1 {

    height: 2px;
    border-bottom: dotted 1px;
    position: relative
}
.hr-1:before {
    background: #444;
    content:  "";
    width: 12px;
    height: 12px;
    left: 0;
    position: absolute;
    border-radius: 50%;
    top: -5px;
}

.hr-1:after {
    background: #444;
    content:  "";
    width: 12px;
    height: 12px;
    right: 0;
    position: absolute;
    border-radius: 50%;
    top: -5px;
}
.hr-2 {
    height: 2px;
    border-bottom: dotted 1px;
    position: relative
}
.divider.hr-2 i {
    position: absolute;
    top: -21px;
    left: 50%;
    border: solid 1px;
    border-radius: 50%;
    padding: 7px;
}
/*enddividers*/
