/*
* Class Styles
*  .min-height default 650px
*  .line-height-0
*  .white-fonts set p, a, h1-h5 to #fff
*  li.title font sizet 110%
*  .flex
*  .vertical-align
*  .parallax-window
*
*
* background colors
* .red
*
*
*
*
*
*
* effects
*  .pulse
*  .blink
*
*
*
*
*
*/


$font: 'Roboto', sans-serif;
$baseColor: #eee;
$lightGray: #eee;
$colorForDarkBackground: #fff;
$purple: rebeccapurple;
$defaultBtnColor: #222;
@import 'inc/_creators';
@import 'inc/_buttons';
@import 'inc/_seperators';
@import 'inc/_form-elements';
@import 'inc/_components';
@import 'inc/_icons';

section + section{
  margin-top: 40px;
}

.min-height{
  min-height: 650px;
}

.line-height-0{
  line-height: 0;
}

html, body {
    /*** give this to all tags from html to .fullscreen ***/
    height:100%;
    font-family: $font;
}


a, a:hover{
  text-decoration: none;
}

.border-bottom{
  border-bottom: solid 1px #eee;
}

/* colors */
.white-fonts{
  p,a,h1,h2,h3,h4,h5,*{
    color: #fff;
  }
}


/* end color */

/* list styles */

ul{
  margin-top: 10px;
  li.title {
    font-size: 110%;
    border-bottom: solid 1px;
  }
}
.no-border{
  border: none;
}

/* list styles */

/*** parallax-window ***/


.parallax-window {
    background: transparent;
}

.flex, .vertical-align {
  height: auto;
  align-items: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;

  &.same-height > [class*='col-']{
    flex-direction: column;
  }

}

/*** parallax-window ***/


/*** background colors ***/

.red{
  background: #c12b2b;
  color: #fff;
  &.hover-gradient{
      transition: all 0.2s;
      content: "";
      background: rgb(192,57,43);
      // background: -moz-linear-gradient(-45deg, rgba(193, 57, 43, 1) 0%, rgba(192,57,43,1) 50%, rgba(212,85,72,1) 51%, rgba(212,85,72,1) 100%);
      background: -webkit-linear-gradient(-45deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(205, 73, 60, 1) 100%);
      // background: linear-gradient(135deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(212,85,72,1) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#d45548',GradientType=1 );

      opacity: 1;
      background-size: 200%;

     &:hover{
      opacity: 1;
      background-size: 100%;
       //  background: #D45548;
    }
  }

  &:hover{
    color: #fff;
  }
  &:focus{
    color: #fff;
  }
}


/** effects */
.pulse{
  animation: pulse 1s infinite;
}

.blink{
  opacity: 0;
  animation: blink 1s infinite;
}
/** end effects */
/// button white color
//@todo neads to move inside to btn


/*buttons*/
.btn {
  transition: all 0.4s;
  border-radius: 0;
  padding: 10px 50px;
  font-size: 16px;
  background: $defaultBtnColor;
  &.small{width:20%;display: inline-block;}
  &.large{width:60%;display: inline-block;}
  &.xlarge{width:80%;display: inline-block;}
  &.white{
    transition: all 0.2s;
    background: #fff;
    color: #222;
    &.hover-gradient{
        transition: all 0.2s;
        content: "";
        background: rgb(192,57,43);
        // background: -moz-linear-gradient(-45deg, rgba(193, 57, 43, 1) 0%, rgba(192,57,43,1) 50%, rgba(212,85,72,1) 51%, rgba(212,85,72,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(251, 251, 251, 1) 0%,rgba(251, 251, 251, 1) 50%,rgba(230, 227, 227, 1) 51%,rgba(230, 227, 227, 1) 100%);
        // background: linear-gradient(135deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(212,85,72,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#d45548',GradientType=1 );

        opacity: 1;
        background-size: 200%;

       &:hover{
        opacity: 1;
        background-size: 120%;
         //  background: #D45548;
      }
    }
    &:hover{
      color: #222;
    }
  }
  /// button black color
  &.black{
    background: black;
    color: #eee;
    &.hover-gradient{
        transition: all 0.2s;
        content: "";
        background: rgb(192,57,43);
        // background: -moz-linear-gradient(-45deg, rgba(193, 57, 43, 1) 0%, rgba(192,57,43,1) 50%, rgba(212,85,72,1) 51%, rgba(212,85,72,1) 100%);
          background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 1) 50%,rgba(36, 36, 36, 1) 51%,rgba(36, 36, 36, 1) 100%);
        // background: linear-gradient(135deg, rgba(192,57,43,1) 0%,rgba(192,57,43,1) 50%,rgba(212,85,72,1) 51%,rgba(212,85,72,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#d45548',GradientType=1 );

        opacity: 1;
        background-size: 200%;

       &:hover{
        opacity: 1;
        background-size: 100%;
         //  background: #D45548;
      }
    }

    &:hover{
      color: #fff;
    }
  }
  /*** end background colors ***/



  &.radius{
    border-radius: 4px;
  }
  &.border{
    border: solid 1px #222;
  }
  &.hover-shadow{
    &:hover{
      box-shadow: 0 0 4px #222;
    }
  }

}



// effect



/*** end buttons ***/


.navbar{
  margin-bottom: 0;

  &.center{

  }

}

@media (min-width: 768px) {
  .navbar-center {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
}


.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
    display: table;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}




/*** content centering styles ***/
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
.fullscreen .content {
    width: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*endregion*/





.no_padding{
    padding: 0;
}


.no_margin{
    margin: 0;
}
.no-top-margin{
margin-top: 0;
}
.no_bottom_margin{
margin-bottom: 0;
}
.no_left_margin{
margin-left: 0;
}
.no_right_margin{
margin-right: 0;
}
.no_btm_padding{

padding-bottom: 0;
}

// .grid-sm-gutter + .grid-sm-gutter {
//     padding: 3px !important;
//     margin: 0px !important;
// }

.grid-sm-gutter {
  [class*="col-"] {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-bottom: 6px;
  }
}

/*endregion*/
/*region colors*/
.bg-grey{
    background: #eee;
}
.bg-black{
    background: #000;
    color: $colorForDarkBackground;
    &li, a, p, i{color: $colorForDarkBackground}
}
.color_white{
    color: #fff!important;
}
.color_orangered{
    color: orangered!important;
}
.color_black{
    color: #222!important;
}
/*endregion*/

.bordered{
    border: solid 1px #eee;
}

/*region bypass bootstarp*/
/*bypass bootstrap*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
}


.btn.btn-one {
    color: #FFF;
    background: #FF005F;
    border-radius: 0;
}
.btn-small{
    width: 20%;
}
.btn-large{
    width: 30%;
}
.btn-xlarge{
    width: 40%;
}
/*endregion*/





/*region navbar*/

button.navbar-toggle .icon-bar {
    background: #222;
    margin-top: 10px;
}
.navbar.center .nav,
.navbar.center .nav > li {
    float:none;
    display:inline-block;

    vertical-align: top;
    text-align: center;
 }
.navbar-inner {
    text-align:center;
}

/*region navbar style 1*/
.navbar-style-1 {
    border-bottom: dotted  1px #ddd;
    -webkit-transition: all 0.3s;
}

.navbar-style-1 ul > li > a {
    padding: 30px;
    color: #000;
    margin: 0;
    font-weight: bold;
}

.navbar-style-1 ul > li > ul li a {
    padding: 8px 21px;
    font-weight: 100;
}


.navbar-style-1 ul > li {
  ul{
    background: rgb(238, 238, 238);
    // background: rgba(255,255,255,0.8);
  }
}

li.dropdown:hover > a {
    background: rgb(238, 238, 238);
}

.dropdown:hover ul {
    display: inline-block;
    border: none;
}
.WhiteHeader {
    background: #fff;
    opacity: 0.8;
    -webkit-transition: all 0.3s;
}
.WhiteHeader:hover{
    opacity: 1;
}
.WhiteHeader a{
    color: #222!important;
}
/*borders*/

/*end borders*/

/*region icons */

.cycle {
    border-radius: 50%;
}

.border-icon {
    border: solid 1px #eee;
    width: 86px;
    height: 85px;
    padding: 20px;
    margin-left: auto;
    margin-right: AUTO;
    position: relative;

}

.lightgray-bg-icon:before {
    @extend .cycle;
    -webkit-transition: all 0.3s;
    content: "";
    background: $lightGray;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 85px;
    height: 85px;
    top: 0;
    -webkit-transform: scale(0.80);
}
.lightgray-bg-icon:hover:before {
    -webkit-transform: scale(1.1);
}
/*endregion*/

/*region text formaters*/
.strong{
    font-weight: 800;
}
.large {
    font-size: 60px;
    font-weight: 800;
}
.xlarge {
    font-size: 80px;
    font-weight: 800;
}

.text-shadow {
    text-shadow: 1px 1px 4px #222;
}

/*endregion*/

/*region section*/
section + section{
     margin-bottom: 40px;
}

/*endregion*/

/*region isotope*/

.isotope {
    background: #DDD;
    max-width: 1200px;
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .item ---- */

/*.item {*/
    /*float: left;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #0D8;*/
    /*border: 2px solid #333;*/
    /*border-color: hsla(0, 0%, 0%, 0.7);*/
/*}*/
/*.item.width3 { width: auto; }*/
/*.item.width2 { width: auto; }*/
/*.item.height2 { height: auto; }*/

/*endregion*/


/* font sizes */
.font-xs{
  font-size: 85%;
}
.font-sm{
  font-size: 95%;
}

/*carouse*/
.carousel-inner .item {
    overflow: hidden;
 }
.carousel-caption {
    top: 260px;
}
/*end carousel*/


/*dividers*/
.hr-1 {

    height: 2px;
    border-bottom: dotted 1px;
    position: relative
}
.hr-1:before {
    background: #444;
    content:  "";
    width: 12px;
    height: 12px;
    left: 0;
    position: absolute;
    border-radius: 50%;
    top: -5px;
}

.hr-1:after {
    background: #444;
    content:  "";
    width: 12px;
    height: 12px;
    right: 0;
    position: absolute;
    border-radius: 50%;
    top: -5px;
}
.hr-2 {
    height: 2px;
    border-bottom: dotted 1px;
    position: relative
}
.divider.hr-2 i {
    position: absolute;
    top: -21px;
    left: 50%;
    border: solid 1px;
    border-radius: 50%;
    padding: 7px;
}
/*enddividers*/
/* gallery */
.gallery{
  position: relative;
  display: inline-table;
  .content{
    position: absolute;
    bottom: 0;
    color: #D2D2D2;
    background: rgba(34, 34, 34, 0.68);
    padding: 0 10px;
    width: 100%;
  }

}

//border grid
.grid + .grid:after {
  border-left: dotted 1px #c1c1c1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  bottom: -50%;
}

.grid + .grid:before {content: "";position: absolute;height: 100%;width: 100%;border-bottom: dotted 1px #C1C1C1;}



footer{
  color: $colorForDarkBackground;
  &.bg-black a{
    color: $colorForDarkBackground;
  }


}