.zigZag{
   width: 100%;
  height: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQYV42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+CgiQkAMbAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.zigZag-sm {
    width: 160px;
    height: 8px;
   @extend .zigZag;
}
/** small bottom line */
.small-line:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 7px;
    background:  $lightGray;
    display: block;
    bottom: 0px;
}

/** small center line */
.seperator-small {
    margin-top: 10px;
    margin-bottom: 10px;
    background: $lightGray;
    height: 3px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
}

/** double line */

.seperator-angle:after {content: "";width: 18px;height: 3px;background: #eee;position: absolute;transform: rotate(126deg);bottom: -7px;}

.seperator-angle:before {content: "";width: 18px;height: 3px;background: #eee;position: absolute;transform: rotate(-126deg);bottom: -7px;}

.seperator-icon {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 250px;
    background: $baseColor;
    text-align: center;
}

.seperator-icon i {
    background: #eee;
    border-radius: 50%;
    padding: 6px;
    vertical-align: middle;
    border: solid 1px #e9e9e9;
    position: relative;
    top: -10px;
}

/* line */
.line-before, .line-after{
  position: relative;
}
.line-before:before {
    content: "";
    background: $baseColor;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 19px;
    transform: rotate(180deg);
    transform-origin: 0;
}
.line-after:after {
    content: "";
    background: $baseColor;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 19px;
}
/* end line */
